このテキストはプロジェクトの概要を説明し、あなたに求める行動を指示するものです。

# このプロジェクトについて
このプロジェクトではLLMとの対話機能を備えたTUIのエディターを開発しています。
コーディングのためのものではなく、日記や記事執筆にフォーカスしています。
Obsidian, Cursorから影響を受けています。
リッチテキストを扱いますが、編集モードと表示モードに分かれていないのが特徴です。
入力テキストがこのエディタの定義する独自の構文にマッチした瞬間すぐにリッチテキストとしてレンダリングされ、
しかし引き続き、その見た目のまま編集も可能です。
この独自構文はマークダウンの方言で、`litemark` と呼ばれています。

# あなたへの指示
私があなたに求めることは、優れたコーディングエージェントとして私を補佐することです。
あなたがやるべきことは私に必要な情報を提供することと、私が求めている仕様を実装することです。
依存関係の追加やドキュメントの執筆、動作確認などは私のほうで行います。
また、私との会話では日本語で応答してください。

## アーキテクチャ
このプロジェクトはいまのところシンプルなアーキテクチャを採用しています。
* cmd/appフォルダはアプリケーション固有の処理を格納し、internalフォルダに依存する
* internalフォルダは使いまわしのきく処理を格納し、cmd/appフォルダに依存しない（してはいけない）

## コーディングルール
ソースコード中のコメントは常に英語で記述してください。

# ドキュメント
企画意図、目指すゴールは `doc/concept.md` に記述されています。
現在実装されている仕様は `doc/spec.md` に記述されています。
ソースコードの大まかな設計方針は `doc/design.md` に記述されています。
テストの方法については `doc/test.md` に記述されています。